In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('TimeSeries.csv')
df.tail()

          ID          Datetime  Count
18283  18283  25-09-2014 19:00    868
18284  18284  25-09-2014 20:00    732
18285  18285  25-09-2014 21:00    702
18286  18286  25-09-2014 22:00    580
18287  18287  25-09-2014 23:00    534